{extend name='Layout/ins_page'/}
{block name="content"}
{:widget('PageHeader/simple',array('name'=>'付款指数统计查询','search'=>'N'))}
<div class="box-content">
    <form>
        <div class="row-fluid">
            <div class="span6">
                <div id="DataTables_Table_0_length" class="dataTables_length">
                    <label>
                        <input type="button" class="btn btn-success btn-sm" value="查询" onclick="doSearch()">
                        <input type="reset" class="btn btn-default btn-sm" value="重置">
                    </label>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
            <style type="text/css">
                .table td {
                    text-align: left;
                }
                .table input {
                    width: 175px;
                }
                .table span {
                    color: red;
                }
            </style>
            <thead>
            <tr role="row">
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 145px;">
                    <label>年度:<span>*</span></label>
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending">
                    <input type="text" name="GJAHR" id="GJAHR" value="<?php echo date('Y',time());?>">
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 145px;">
                    <label>月份:<span>*</span></label>
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending">
                    <input type="text" name="MONAT" id="MONAT"  value="<?php echo date('m',time());?>">
                </td>
            </tr>
            <tr role="row">
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 145px;">
                    <label>公司:</label>
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending">
                    <input type="text" name="bukrs" id="bukrs">
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 145px;">
                    <label>买方代码:</label>
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending">
                    <input type="text" name="buyerNO" id="buyerNO">
                </td>
            </tr>
            <tr role="row">
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 145px;">
                    <label>买方名称:</label>
                </td>
                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="3"
                    aria-label="Status: activate to sort column ascending">
                    <input type="text" name="buyerEngName" id="buyerEngName">
                </td>
            </tr>
            </thead>
        </table>
        <style>
            #pageajax {
                height: 480px;
                width: 1080px;
                border: 1px solid #ddd;
                position: relative;
                overflow-x: auto;
                overflow-y: auto;
                table-layout: fixed;
                work-break: break-all;
                margin-top: 10px;
            }
            .tablehead {
                width: 2500px;
                left: 0;
                word-break: break-all;
                word-wrap: break-word;
                padding: 0px;
                margin: 0px;
            }
            .tablehead td {
                border: 1px solid #ddd;
                text-align: center;
                padding: 0px;
                margin: 0px;
                height: 30px;
            }

        </style>
        <div id="get_list">
            <div id="pageajax">
                <div class="tablehead">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
                        <style type="text/css">
                            .table td {
                                font-size: 12px;;
                            }
                        </style>
                        <thead>
                        <tr>
                            <td style='width:50px;'>年度</td>
                            <td style='width:50px;'>月份</td>
                            <td style='width:80px;'>公司</td>
                            <td style='width:120px;'>买方代码</td>
                            <td style='width:120px;'>SAP代码</td>
                            <td style='width:250px;'>买方名称</td>
                            <td style='width:100px;'>付款指数得分</td>
                            <td style='width:80px;'>DDSO</td>
                            <td style='width:80px;'>DDSO得分</td>
                            <td style='width:120px;'>近12个月超期发票数	</td>
                            <td style='width:120px;'>近12个月超期发票数得分</td>
                            <td style='width:120px;'>近12个月超期发票金额</td>
                            <td style='width:130px;'>近12个月超期发票金额得分</td>
                            <td style='width:120px;'>近3月超期发票占比</td>
                            <td style='width:120px;'>近3月超期发票占比得分</td>
                            <td style='width:120px;'>近3月超期金额占比</td>
                            <td style='width:120px;'>近3月超期金额占比得分</td>
                        </tr>
                        <tbody class="body" id="dynr" style="word-break:break-all; word-wrap:break-word;">
                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
            <div align="right" id="page">
            </div>
        </div>
    </form>
</div>
{include file="Public:modal"/}
{/block}
{block name="js"}
<script type="text/javascript">
    function doSearch(page) {
        $.ajax({
            type: 'post',
            data: $('form').serialize() + "&page=" + page,
            url: "{:url('PaymentCount/index')}",
            dataType: 'json',
            success: function (data) {
                if (data.code == 1) {
                    var html = "";
                    var page = data.data.page;
                    for (var i = 0; i < data.data.list.length; i++) {
                        html += "<tr style='height: 40px;' class='dbb'>" +
                                "<td >" + data.data['list'][i].GJAHR + "</td>" +
                                "<td>" + data.data['list'][i].MONAT + "</td>" +
                                "<td>" + data.data['list'][i].BUKRS + "</td>" +
                                "<td>" + data.data['list'][i].BuyerNo + "</td>" +
                                "<td >" + data.data['list'][i].Kunnr + "</td>" +
                                "<td>" + data.data['list'][i].BuyerEngName + "</td>" +
                                "<td >" + data.data['list'][i].Total_Score + "</td>" +
                                "<td >" + data.data['list'][i].DDSO + "</td>" +
                                "<td >" + data.data['list'][i].DDSO_Score + "</td>" +
                                "<td>" + data.data['list'][i].M12Cqfps + "</td>" +
                                "<td>" + data.data['list'][i].M12Cqfps_Score + "</td>" +
                                "<td>" + data.data['list'][i].M12Cqfpje + "</td>" +
                                "<td>" + data.data['list'][i].M12Cqfpje_Score + "</td>" +
                                "<td>" + data.data['list'][i].M3Cqfpszb + "</td>" +
                                "<td>" + data.data['list'][i].M3Cqfpszb_Score + "</td>" +
                                "<td>" + data.data['list'][i].M3Cqfpjezb + "</td>" +
                                "<td>" + data.data['list'][i].M3Cqfpjezb_Score + "</td><tr>";
                    }
                    $("#dynr").empty();
                    $("#dynr").html(html);
                    $("#page").empty();
                    $("#page").html(page);
                }
            },
            error: function () {
                alert("服务器繁忙。。。")
                return false;
            }
        });
    }
</script>
{/block}