{extend name="layout/common_baogao2" /}
{block name="content"}
<div class="row" id="sortable-view">
    <div class="col-sm-12 ui-sortable" id="t1">
        <style>
            .tablehead {
                width:100%;
                left: 0;
                word-break: break-all;
                word-wrap: break-word;
                padding: 0px;
                margin: 0px;
            }
            .tablehead td {
                border: 1px solid #ddd;
                text-align:left;
                padding: 0px;
                margin: 0px;
                height: 20px;
            }
        </style>
        <div id="get_list">
            <div id="pageajax">
                <div class="tablehead">
                    <form class="form-horizontal" method="post" action="{:url('BusinessSettle/save')}" id="tableForm">
                        <input type="hidden" name="id" id="applicationid" value="{$applicationid}">
                        <input type="hidden"  name="activeid" id="activeid" value="{$activeid}">
                        <p style="font-size: 20px; text-align: left;"><b>采购结算</b></p>
                        <table class="table table-striped">
                            <style type="text/css">
                                .table td {
                                    font-size: 14px;
                                }
                            </style>
                            <span class="foreign" style="display: none;">(中文)</span>
                            <textarea name="purchase" rows="6" style="width:98%;overflow-y:auto;">{$data['purchase']}</textarea>
                            <br/>
                            <span class="foreign" style="display: none;">{$language}</span>
                            <textarea class="foreign" name="purchaseEng" rows="6"  style="width:98%;overflow-y:auto;display: none;">{$data['purchaseEng']}</textarea>
                        </table>
                        <br/><br/>
                    </form>
                    <p><b style="font-size: 20px; text-align: left;">采购</b>&nbsp;&nbsp;&nbsp;<input type="button" value="新增" id="purchase_add" class="com"></p>
                    <table class="table table-striped">
                        <style type="text/css">
                            .table td {
                                font-size: 14px;
                            }
                        </style>
                        <thead>
                        <tr class="purchase_header">
                            <td style="width: 10%">商品</td>
                            <td style="width: 25%">付款方式</td>
                            <td style="width: 35%">付款期限</td>
                            <td style="width: 10%">主要供应商数量</td>
                            <td class="com"></td>
                            <td class="com"></td>
                        </tr>
                        {volist name="purchase_list" id="vo"}
                        <tr class="purchase">
                            <input type='hidden' value="{$vo.id}" name='ids'>
                            <td><span class='xst1'>{$vo.name}</span><input name='xs1' type='text' value="{$vo.name}" style="display: none;" size="20px;"></td>
                            <td><span class='xst2'>{$vo.payType}</span><input name='xs2' type='text' value="{$vo.payType}" style="display: none;" size="20px;"></td>
                            <td><span class='xst3'>{$vo.term}</span><input name='xs3' type='text' value="{$vo.term}" style="display: none;" size="40px;"></td>
                            <td><span class='xst4'>{$vo.supplierNum}</span><input name='xs4' type='text' value="{$vo.supplierNum}" style="display: none;" size="5px;"></td>
                            <td class="com"><span name='n' class='normal'> <a rel='edit_purchase' href='javascript:void(0)'>编辑</a> </span>
                                <span name='e' class='edit' style="display: none;"><a rel='update_purchase' id='' href='javascript:void(0)'>保存</a>|<a rel='cancel_purchase' href='javascript:void(0)'>取消</a></span> </td>
                            <td class="com"><a rel='del_purchase' href='javascript:void(0)'>删除</a></td>
                        </tr>
                        <tr class="foreign" style="display: none;">
                            <td >({$language})<input type="text" name="" value="" ></td>
                            <td >({$language})<input type="text" name="" value="" ></td>
                            <td >({$language})<input type="text" name="" value="" ></td>
                            <td >({$language})<input type="text" name="" value="" ></td>
                        </tr>
                        {/volist}
                        </thead>
                    </table>
                    <br/><br/>
                    <p><b  style="font-size: 20px; text-align: left;">主要供应商及评价</b>&nbsp;&nbsp;&nbsp;<input type="button" value="新增"  data-toggle="modal" data-target="#supplierModal" class="com"></p>
                    <br/>
                    <table class="table table-striped">
                        <style type="text/css">
                            .table td {
                                font-size: 14px;
                            }
                        </style>
                        <thead>
                        <tr class="supplier_header">
                            <td class="com"></td>
                            <td class="com"></td>
                            <td style="width: 12%">公司名称</td>
                            <td style="width: 12%">公司地址</td>
                            <td style="width: 12%">联系电话</td>
                            <td style="width: 5%">联系人</td>
                            <td style="width: 12%">采访时间</td>
                            <td style="width: 7%">合作开始时间</td>
                            <td style="width: 5%">主要交易产品</td>
                            <td style="width: 5%">信用额度</td>
                            <td style="width: 5%">付款方式</td>
                            <td style="width: 5%">付款期限</td>
                            <td style="width: 20%">综合评价</td>
                        </tr>
                        {volist name="supplier_list" id="vo"}
                        <tr class="supplier">
                            <input type='hidden' value="{$vo.id}" name='ids'>
                            <td class="com"><a rel='edit_supplier' data-toggle="modal" data-target="#supplierModal">编辑</a></td>
                            <td class="com"><a rel='del_supplier' href='javascript:void(0)'>删除</a></td>
                            <td>{$vo.name}</td>
                            <td>{$vo.address}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.linkman}</td>
                            <td>{$vo.interviewDate}</td>
                            <td>{$vo.start}</td>
                            <td>{$vo.mainProduct}</td>
                            <td>{$vo.limit}</td>
                            <td>{$vo.payType}</td>
                            <td>{$vo.term}</td>
                            <td>{$vo.evaluate}</td>
                        </tr>
                        {/volist}
                        </thead>
                    </table>
                    <br/><br/>
                    <p><b style="font-size: 20px; text-align: left;">销售</b>&nbsp;&nbsp;&nbsp;<input type="button" value="新增" id="sales_add" class="com"></p>
                    <table class="table table-striped">
                        <style type="text/css">
                            .table td {
                                font-size: 14px;
                            }
                        </style>
                        <thead>
                        <tr class="sales_header">
                            <td style="width: 10%">商品</td>
                            <td style="width: 20%">销售区域</td>
                            <td style="width: 20%">客户/行业</td>
                            <td style="width: 40%">销售条件</td>
                            <td class="com"></td>
                            <td class="com"></td>
                        </tr>
                        {volist name="sales_list" id="vo"}
                        <tr class="sales">
                            <input type='hidden' value="{$vo.id}" name='ids'>
                            <td><span class='xst1'>{$vo.name}</span><input name='xs1' type='text' value="{$vo.name}" style="display: none;" size="20px;"></td>
                            <td><span class='xst2'>{$vo.scope}</span><input name='xs2' type='text' value="{$vo.scope}" style="display: none;" size="20px;"></td>
                            <td><span class='xst3'>{$vo.customer}</span><input name='xs3' type='text' value="{$vo.customer}" style="display: none;" size="20px;"></td>
                            <td><span class='xst4'>{$vo.condition}</span><input name='xs4' type='text' value="{$vo.condition}" style="display: none;" size="50px;"></td>
                            <td class="com"><span name='n' class='normal'> <a rel='edit_sales' href='javascript:void(0)'>编辑</a> </span>
                                <span name='e' class='edit' style="display: none;"><a rel='update_sales' id='' href='javascript:void(0)'>保存</a>|<a rel='cancel_sales' href='javascript:void(0)'>取消</a></span> </td>
                            <td class="com"><a rel='del_sales' href='javascript:void(0)'>删除</a></td>
                        </tr>
                        <tr class="foreign" style="display: none;">
                            <td >({$language})<input type="text" name="" value="" ></td>
                            <td >({$language})<input type="text" name="" value="" ></td>
                            <td >({$language})<input type="text" name="" value="" ></td>
                            <td >({$language})<input type="text" name="" value="" ></td>
                        </tr>
                        {/volist}
                        </thead>
                    </table>
                    <br/><br/>
                    <p><b  style="font-size: 20px; text-align: left;">主要客户及评价</b>&nbsp;&nbsp;&nbsp;<input type="button" value="新增"  data-toggle="modal" data-target="#customerModal" class="com"></p>
                    <br/>
                    <table class="table table-striped">
                        <style type="text/css">
                            .table td {
                                font-size: 14px;
                            }
                        </style>
                        <thead>
                        <tr class="customer_header">
                            <td class="com"></td>
                            <td class="com"></td>
                            <td style="width: 12%">公司名称</td>
                            <td style="width: 12%">公司地址</td>
                            <td style="width: 10%">联系电话</td>
                            <td style="width: 10%">联系人</td>
                            <td style="width: 12%">采访时间</td>
                            <td style="width: 7%">合作开始时间</td>
                            <td style="width: 5%">主要交易产品</td>
                            <td style="width: 20%">综合评价</td>
                        </tr>
                        {volist name="customer_list" id="vo"}
                        <tr class="customer">
                            <input type='hidden' value="{$vo.id}" name='ids'>
                            <td class="com"><a rel='edit_customer' data-toggle="modal" data-target="#customerModal">编辑</a></td>
                            <td class="com"><a rel='del_supplier' href='javascript:void(0)'>删除</a></td>
                            <td>{$vo.name}</td>
                            <td>{$vo.address}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.linkman}</td>
                            <td>{$vo.interviewDate}</td>
                            <td>{$vo.start}</td>
                            <td>{$vo.mainProduct}</td>
                            <td>{$vo.evaluate}</td>
                        </tr>
                        {/volist}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!--按钮与报告备注-->
        {include file="public:baogaoMemo"/}
    </div>
</div>
{include file="public:modal"/}
{/block}
{block name="js"}
<script type="text/javascript">
    //新增采购
    $('#purchase_add').click(function(){
        var applicationid=$("#applicationid").val();
        $.ajax({
            type: 'post',
            data: {"applicationid":applicationid},
            url:  "{:url('BusinessSettle/add_purchase')}",
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if(data.data){
                    var  str =  "<tr class='purchase'>" +
                            "<input type='hidden' value='"+data.data.id+"' name='ids'>" +
                            "<td><span class='xst1' style='display: none;'>"+data.data.name+"</span><input name='xs1' type='text' value='"+data.data.name+"' size='20px;'></td>"+
                            "<td><span class='xst2' style='display: none;'>"+data.data.payType+"</span><input name='xs2' type='text' value='"+data.data.payType+"' size='20px;'></td>"+
                            "<td><span class='xst3' style='display: none;'>"+data.data.term+"</span><input name='xs3' type='text' value='"+data.data.term+"' size='40px;'></td>"+
                            "<td><span class='xst4' style='display: none;'>"+data.data.supplierNum+"</span><input name='xs4' type='text' value='"+data.data.supplierNum+"' size='5px;'></td>"+
                            "<td><span name='n' class='normal'> <a rel='edit_purchase' href='javascript:void(0)' style='display: none;'>编辑</a> </span>"+
                            "<span name='e' class='edit'><a rel='update_purchase' id='' href='javascript:void(0)'>保存</a>|<a rel='cancel_purchase' href='javascript:void(0)' >取消</a></span> </td>"+
                            "<td><a rel='del_purchase' href='javascript:void(0)'>删除</a></td>" +
                            "</tr>";

                    $(".purchase_header").after(str);

                    //点击编辑
                    $("a[rel='edit_purchase']").click(function () {
                        $(this).parent().parent().parent().find("input[name='xs1']").show();
                        $(this).parent().parent().parent().find("input[name='xs2']").show();
                        $(this).parent().parent().parent().find("input[name='xs3']").show();
                        $(this).parent().parent().parent().find("input[name='xs4']").show();

                        $(this).parent().parent().parent().find("span[class='xst1']").hide();
                        $(this).parent().parent().parent().find("span[class='xst2']").hide();
                        $(this).parent().parent().parent().find("span[class='xst3']").hide();
                        $(this).parent().parent().parent().find("span[class='xst4']").hide();

                        $(this).hide();
                        $(this).parent().parent().find("span[class='edit']").show();
                    });
                    //点击保存
                    $("a[rel='update_purchase']").click(function () {
                        var xs1 = $(this).parent().parent().parent().find("input[name='xs1']").val();
                        var xs2 = $(this).parent().parent().parent().find("input[name='xs2']").val();
                        var xs3 = $(this).parent().parent().parent().find("input[name='xs3']").val();
                        var xs4 = $(this).parent().parent().parent().find("input[name='xs4']").val();
                        var id = $(this).parent().parent().parent().find("input[name='ids']").val();

                        $(this).parent().parent().parent().find("span[class='xst1']").text(xs1);
                        $(this).parent().parent().parent().find("span[class='xst2']").text(xs2);
                        $(this).parent().parent().parent().find("span[class='xst3']").text(xs3);
                        $(this).parent().parent().parent().find("span[class='xst4']").text(xs4);

                        $(this).parent().parent().parent().find("span[class='xst1']").show();
                        $(this).parent().parent().parent().find("span[class='xst2']").show();
                        $(this).parent().parent().parent().find("span[class='xst3']").show();
                        $(this).parent().parent().parent().find("span[class='xst4']").show();

                        var tis = $(this);
                        $.ajax({
                            type: "post",
                            url: "{:url('BusinessSettle/purchase_update')}",
                            data: {xs1:xs1,xs2:xs2,xs3: xs3,xs4: xs4,id:id}
                        }).done(function (data) {
                            if (data.code) {
                                tankuang(300,data.msg);
                                location=location;
                                tis.parent().parent().parent().find("span[class='xst1']").show();
                                tis.parent().parent().parent().find("span[class='xst2']").show();
                                tis.parent().parent().parent().find("span[class='xst3']").show();
                                tis.parent().parent().parent().find("span[class='xst4']").show();
                                tis.parent().parent().parent().find("span[class='xst5']").show();

                                tis.parent().parent().parent().find("input[name='xs1']").hide();
                                tis.parent().parent().parent().find("input[name='xs2']").hide();
                                tis.parent().parent().parent().find("input[name='xs3']").hide();
                                tis.parent().parent().parent().find("input[name='xs4']").hide();
                                tis.parent().parent().parent().find("input[name='xs5']").hide();

                                tis.parent().parent().find("span[class='edit']").hide();
                                tis.parent().parent().find("a[rel='edit_purchase']").show();
                            }
                        });
                        //取消表单
                        $(this).parent().parent().parent().find("input[name='xs1']").hide();
                        $(this).parent().parent().parent().find("input[name='xs2']").hide();
                        $(this).parent().parent().parent().find("input[name='xs3']").hide();
                        $(this).parent().parent().parent().find("input[name='xs4']").hide();

                        $(this).parent().parent().parent().find("span[class='xst1']").show();
                        $(this).parent().parent().parent().find("span[class='xst2']").show();
                        $(this).parent().parent().parent().find("span[class='xst3']").show();
                        $(this).parent().parent().parent().find("span[class='xst4']").show();

                        $(this).parent().parent().find("span[class='edit']").hide();
                        $(this).parent().parent().find("a[rel='edit_purchase']").show();
                    });
                    //点击取消
                    $("a[rel='cancel_purchase']").click(function () {
                        $(this).parent().parent().parent().find("input[name='xs1']").hide();
                        $(this).parent().parent().parent().find("input[name='xs2']").hide();
                        $(this).parent().parent().parent().find("input[name='xs3']").hide();
                        $(this).parent().parent().parent().find("input[name='xs4']").hide();

                        $(this).parent().parent().parent().find("span[class='xst1']").show();
                        $(this).parent().parent().parent().find("span[class='xst2']").show();
                        $(this).parent().parent().parent().find("span[class='xst3']").show();
                        $(this).parent().parent().parent().find("span[class='xst4']").show();

                        $(this).parent().parent().find("span[class='edit']").hide();
                        $(this).parent().parent().find("a[rel='edit_purchase']").show();
                    });
                    //点击删除
                    $("a[rel='del_purchase']").click(function () {
                        if (!confirm("确定要删除吗？")) {
                            return false;
                        }
                        var id = $(this).parent().parent().find("input[name='ids']").val();
                        var tis = $(this);
                        if(id!=''){
                            $.ajax({
                                type: 'post',
                                data: {id: id},
                                url: "{:url('BusinessSettle/purchase_del')}",
                                dataType: 'json',
                                success: function (data) {
                                    console.log(data);
                                    if(data.code == 1){
                                        tis.parent().parent().remove();
                                    }
                                }
                            });
                        }
                    });

                }
            }
        });
    });
    //点击编辑
    $("a[rel='edit_purchase']").click(function () {
        $(this).parent().parent().parent().find("input[name='xs1']").show();
        $(this).parent().parent().parent().find("input[name='xs2']").show();
        $(this).parent().parent().parent().find("input[name='xs3']").show();
        $(this).parent().parent().parent().find("input[name='xs4']").show();

        $(this).parent().parent().parent().find("span[class='xst1']").hide();
        $(this).parent().parent().parent().find("span[class='xst2']").hide();
        $(this).parent().parent().parent().find("span[class='xst3']").hide();
        $(this).parent().parent().parent().find("span[class='xst4']").hide();

        $(this).hide();
        $(this).parent().parent().find("span[class='edit']").show();
    });
    //点击保存
    $("a[rel='update_purchase']").click(function () {
        var xs1 = $(this).parent().parent().parent().find("input[name='xs1']").val();
        var xs2 = $(this).parent().parent().parent().find("input[name='xs2']").val();
        var xs3 = $(this).parent().parent().parent().find("input[name='xs3']").val();
        var xs4 = $(this).parent().parent().parent().find("input[name='xs4']").val();
        var id = $(this).parent().parent().parent().find("input[name='ids']").val();

        $(this).parent().parent().parent().find("span[class='xst1']").text(xs1);
        $(this).parent().parent().parent().find("span[class='xst2']").text(xs2);
        $(this).parent().parent().parent().find("span[class='xst3']").text(xs3);
        $(this).parent().parent().parent().find("span[class='xst4']").text(xs4);

        $(this).parent().parent().parent().find("span[class='xst1']").show();
        $(this).parent().parent().parent().find("span[class='xst2']").show();
        $(this).parent().parent().parent().find("span[class='xst3']").show();
        $(this).parent().parent().parent().find("span[class='xst4']").show();

        var tis = $(this);
        $.ajax({
            type: "post",
            url: "{:url('BusinessSettle/purchase_update')}",
            data: {xs1:xs1,xs2:xs2,xs3: xs3,xs4: xs4,id:id}
        }).done(function (data) {
            if (data.code) {
                tankuang(300,data.msg);
                tis.parent().parent().parent().find("span[class='xst1']").show();
                tis.parent().parent().parent().find("span[class='xst2']").show();
                tis.parent().parent().parent().find("span[class='xst3']").show();
                tis.parent().parent().parent().find("span[class='xst4']").show();
                tis.parent().parent().parent().find("span[class='xst5']").show();

                tis.parent().parent().parent().find("input[name='xs1']").hide();
                tis.parent().parent().parent().find("input[name='xs2']").hide();
                tis.parent().parent().parent().find("input[name='xs3']").hide();
                tis.parent().parent().parent().find("input[name='xs4']").hide();
                tis.parent().parent().parent().find("input[name='xs5']").hide();

                tis.parent().parent().find("span[class='edit']").hide();
                tis.parent().parent().find("a[rel='edit_purchase']").show();
            }
        });
        //取消表单
        $(this).parent().parent().parent().find("input[name='xs1']").hide();
        $(this).parent().parent().parent().find("input[name='xs2']").hide();
        $(this).parent().parent().parent().find("input[name='xs3']").hide();
        $(this).parent().parent().parent().find("input[name='xs4']").hide();

        $(this).parent().parent().parent().find("span[class='xst1']").show();
        $(this).parent().parent().parent().find("span[class='xst2']").show();
        $(this).parent().parent().parent().find("span[class='xst3']").show();
        $(this).parent().parent().parent().find("span[class='xst4']").show();

        $(this).parent().parent().find("span[class='edit']").hide();
        $(this).parent().parent().find("a[rel='edit_purchase']").show();
    });
    //点击取消
    $("a[rel='cancel_purchase']").click(function () {
        $(this).parent().parent().parent().find("input[name='xs1']").hide();
        $(this).parent().parent().parent().find("input[name='xs2']").hide();
        $(this).parent().parent().parent().find("input[name='xs3']").hide();
        $(this).parent().parent().parent().find("input[name='xs4']").hide();

        $(this).parent().parent().parent().find("span[class='xst1']").show();
        $(this).parent().parent().parent().find("span[class='xst2']").show();
        $(this).parent().parent().parent().find("span[class='xst3']").show();
        $(this).parent().parent().parent().find("span[class='xst4']").show();

        $(this).parent().parent().find("span[class='edit']").hide();
        $(this).parent().parent().find("a[rel='edit_purchase']").show();
    });
    //点击删除
    $("a[rel='del_purchase']").click(function () {
        if (!confirm("确定要删除吗？")) {
            return false;
        }
        var id = $(this).parent().parent().find("input[name='ids']").val();
        var tis = $(this);
        if(id!=''){
            $.ajax({
                type: 'post',
                data: {id: id},
                url: "{:url('BusinessSettle/purchase_del')}",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if(data.code == 1){
                        tis.parent().parent().remove();
                    }
                }
            });
        }
    });


    //删除供应商/客户
    $("a[rel='del_supplier']").click(function(){
        if (!confirm("确定要删除吗？")) {
            return false;
        }
        var id = $(this).parent().parent().find("input[name='ids']").val();
        var applicationid = $('#applicationid').val();
        var tis = $(this);
        if(id!=''){
            $.ajax({
                type: 'post',
                data: {id: id,applicationid:applicationid},
                url: "{:url('BusinessSettle/Supplier_del')}",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if(data.code == 1){
                        tis.parent().parent().remove();
                    }
                }
            });
        }
    });

    //编辑供应商
    $("a[rel='edit_supplier']").click(function(){
        var id = $(this).parent().parent().find("input[name='ids']").val();
        var name=$(this).parent().parent().find("td").eq(2).text();
        var address=$(this).parent().parent().find("td").eq(3).text();
        var phone=$(this).parent().parent().find("td").eq(4).text();
        var linkman=$(this).parent().parent().find("td").eq(5).text();
        var interviewDate=$(this).parent().parent().find("td").eq(6).text();
        var start=$(this).parent().parent().find("td").eq(7).text();
        var mainProduct=$(this).parent().parent().find("td").eq(8).text();
        var limit=$(this).parent().parent().find("td").eq(9).text();
        var payType=$(this).parent().parent().find("td").eq(10).text();
        var term=$(this).parent().parent().find("td").eq(11).text();
        var evaluate=$(this).parent().parent().find("td").eq(12).text();

        $("#SupplierID").val(id);
        $("#supplierName").val(name);
        $("#supplierAddress").val(address);
        $("#linkPhone").val(phone);
        $("#linkman").val(linkman);
        $("#interviewDate").val(interviewDate);
        $("#start").val(start);
        $("#mainProduct").val(mainProduct);
        $("#limit").val(limit);
        $("#payType").val(payType);
        $("#term").val(term);
        $("#evaluate").val(evaluate);
    });

    //编辑客户
    $("a[rel='edit_customer']").click(function(){
        var id = $(this).parent().parent().find("input[name='ids']").val();
        var name=$(this).parent().parent().find("td").eq(2).text();
        var address=$(this).parent().parent().find("td").eq(3).text();
        var phone=$(this).parent().parent().find("td").eq(4).text();
        var linkman=$(this).parent().parent().find("td").eq(5).text();
        var interviewDate=$(this).parent().parent().find("td").eq(6).text();
        var start=$(this).parent().parent().find("td").eq(7).text();
        var mainProduct=$(this).parent().parent().find("td").eq(8).text();
        var evaluate=$(this).parent().parent().find("td").eq(9).text();

        $("#CustomerID").val(id);
        $("#customerName").val(name);
        $("#customerAddress").val(address);
        $("#linkPhone1").val(phone);
        $("#linkman1").val(linkman);
        $("#interviewDate1").val(interviewDate);
        $("#start1").val(start);
        $("#mainProduct1").val(mainProduct);
        $("#evaluate1").val(evaluate);
    });

    //新增销售
    $('#sales_add').click(function(){
        var applicationid=$("#applicationid").val();
        $.ajax({
            type: 'post',
            data: {"applicationid":applicationid},
            url:  "{:url('BusinessSettle/add_sales')}",
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if(data.data){
                    var  str =  "<tr class='sales'>" +
                            "<input type='hidden' value='"+data.data.id+"' name='ids'>" +
                            "<td><span class='xst1' style='display: none;'>"+data.data.name+"</span><input name='xs1' type='text' value='"+data.data.name+"' size='20px;'></td>"+
                            "<td><span class='xst2' style='display: none;'>"+data.data.scope+"</span><input name='xs2' type='text' value='"+data.data.scope+"' size='20px;'></td>"+
                            "<td><span class='xst3' style='display: none;'>"+data.data.customer+"</span><input name='xs3' type='text' value='"+data.data.customer+"' size='20px;'></td>"+
                            "<td><span class='xst4' style='display: none;'>"+data.data.condition+"</span><input name='xs4' type='text' value='"+data.data.condition+"' size='50px;'></td>"+
                            "<td><span name='n' class='normal'> <a rel='edit_sales' href='javascript:void(0)' style='display: none;'>编辑</a> </span>"+
                            "<span name='e' class='edit'><a rel='update_sales' id='' href='javascript:void(0)'>保存</a>|<a rel='cancel_sales' href='javascript:void(0)' >取消</a></span> </td>"+
                            "<td><a rel='del_sales' href='javascript:void(0)'>删除</a></td>" +
                            "</tr>";

                    $(".sales_header").after(str);

                    //点击编辑
                    $("a[rel='edit_sales']").click(function () {
                        $(this).parent().parent().parent().find("input[name='xs1']").show();
                        $(this).parent().parent().parent().find("input[name='xs2']").show();
                        $(this).parent().parent().parent().find("input[name='xs3']").show();
                        $(this).parent().parent().parent().find("input[name='xs4']").show();

                        $(this).parent().parent().parent().find("span[class='xst1']").hide();
                        $(this).parent().parent().parent().find("span[class='xst2']").hide();
                        $(this).parent().parent().parent().find("span[class='xst3']").hide();
                        $(this).parent().parent().parent().find("span[class='xst4']").hide();

                        $(this).hide();
                        $(this).parent().parent().find("span[class='edit']").show();
                    });
                    //点击保存
                    $("a[rel='update_sales']").click(function () {
                        var xs1 = $(this).parent().parent().parent().find("input[name='xs1']").val();
                        var xs2 = $(this).parent().parent().parent().find("input[name='xs2']").val();
                        var xs3 = $(this).parent().parent().parent().find("input[name='xs3']").val();
                        var xs4 = $(this).parent().parent().parent().find("input[name='xs4']").val();
                        var id = $(this).parent().parent().parent().find("input[name='ids']").val();

                        $(this).parent().parent().parent().find("span[class='xst1']").text(xs1);
                        $(this).parent().parent().parent().find("span[class='xst2']").text(xs2);
                        $(this).parent().parent().parent().find("span[class='xst3']").text(xs3);
                        $(this).parent().parent().parent().find("span[class='xst4']").text(xs4);

                        $(this).parent().parent().parent().find("span[class='xst1']").show();
                        $(this).parent().parent().parent().find("span[class='xst2']").show();
                        $(this).parent().parent().parent().find("span[class='xst3']").show();
                        $(this).parent().parent().parent().find("span[class='xst4']").show();

                        var tis = $(this);
                        $.ajax({
                            type: "post",
                            url: "{:url('BusinessSettle/sales_update')}",
                            data: {xs1:xs1,xs2:xs2,xs3: xs3,xs4: xs4,id:id}
                        }).done(function (data) {
                            if (data.code) {
                                tankuang(300,data.msg);
                                location=location;
                                tis.parent().parent().parent().find("span[class='xst1']").show();
                                tis.parent().parent().parent().find("span[class='xst2']").show();
                                tis.parent().parent().parent().find("span[class='xst3']").show();
                                tis.parent().parent().parent().find("span[class='xst4']").show();
                                tis.parent().parent().parent().find("span[class='xst5']").show();

                                tis.parent().parent().parent().find("input[name='xs1']").hide();
                                tis.parent().parent().parent().find("input[name='xs2']").hide();
                                tis.parent().parent().parent().find("input[name='xs3']").hide();
                                tis.parent().parent().parent().find("input[name='xs4']").hide();
                                tis.parent().parent().parent().find("input[name='xs5']").hide();

                                tis.parent().parent().find("span[class='edit']").hide();
                                tis.parent().parent().find("a[rel='edit_sales']").show();
                            }
                        });
                        //取消表单
                        $(this).parent().parent().parent().find("input[name='xs1']").hide();
                        $(this).parent().parent().parent().find("input[name='xs2']").hide();
                        $(this).parent().parent().parent().find("input[name='xs3']").hide();
                        $(this).parent().parent().parent().find("input[name='xs4']").hide();

                        $(this).parent().parent().parent().find("span[class='xst1']").show();
                        $(this).parent().parent().parent().find("span[class='xst2']").show();
                        $(this).parent().parent().parent().find("span[class='xst3']").show();
                        $(this).parent().parent().parent().find("span[class='xst4']").show();

                        $(this).parent().parent().find("span[class='edit']").hide();
                        $(this).parent().parent().find("a[rel='edit_sales']").show();
                    });
                    //点击取消
                    $("a[rel='cancel_sales']").click(function () {
                        $(this).parent().parent().parent().find("input[name='xs1']").hide();
                        $(this).parent().parent().parent().find("input[name='xs2']").hide();
                        $(this).parent().parent().parent().find("input[name='xs3']").hide();
                        $(this).parent().parent().parent().find("input[name='xs4']").hide();

                        $(this).parent().parent().parent().find("span[class='xst1']").show();
                        $(this).parent().parent().parent().find("span[class='xst2']").show();
                        $(this).parent().parent().parent().find("span[class='xst3']").show();
                        $(this).parent().parent().parent().find("span[class='xst4']").show();

                        $(this).parent().parent().find("span[class='edit']").hide();
                        $(this).parent().parent().find("a[rel='edit_sales']").show();
                    });
                    //点击删除
                    $("a[rel='del_sales']").click(function () {
                        if (!confirm("确定要删除吗？")) {
                            return false;
                        }
                        var id = $(this).parent().parent().find("input[name='ids']").val();
                        var tis = $(this);
                        if(id!=''){
                            $.ajax({
                                type: 'post',
                                data: {id: id},
                                url: "{:url('BusinessSettle/sales_del')}",
                                dataType: 'json',
                                success: function (data) {
                                    console.log(data);
                                    if(data.code == 1){
                                        tis.parent().parent().remove();
                                    }
                                }
                            });
                        }
                    });

                }
            }
        });
    });
    //点击编辑
    $("a[rel='edit_sales']").click(function () {
        $(this).parent().parent().parent().find("input[name='xs1']").show();
        $(this).parent().parent().parent().find("input[name='xs2']").show();
        $(this).parent().parent().parent().find("input[name='xs3']").show();
        $(this).parent().parent().parent().find("input[name='xs4']").show();

        $(this).parent().parent().parent().find("span[class='xst1']").hide();
        $(this).parent().parent().parent().find("span[class='xst2']").hide();
        $(this).parent().parent().parent().find("span[class='xst3']").hide();
        $(this).parent().parent().parent().find("span[class='xst4']").hide();

        $(this).hide();
        $(this).parent().parent().find("span[class='edit']").show();
    });
    //点击保存
    $("a[rel='update_sales']").click(function () {
        var xs1 = $(this).parent().parent().parent().find("input[name='xs1']").val();
        var xs2 = $(this).parent().parent().parent().find("input[name='xs2']").val();
        var xs3 = $(this).parent().parent().parent().find("input[name='xs3']").val();
        var xs4 = $(this).parent().parent().parent().find("input[name='xs4']").val();
        var id = $(this).parent().parent().parent().find("input[name='ids']").val();

        $(this).parent().parent().parent().find("span[class='xst1']").text(xs1);
        $(this).parent().parent().parent().find("span[class='xst2']").text(xs2);
        $(this).parent().parent().parent().find("span[class='xst3']").text(xs3);
        $(this).parent().parent().parent().find("span[class='xst4']").text(xs4);

        $(this).parent().parent().parent().find("span[class='xst1']").show();
        $(this).parent().parent().parent().find("span[class='xst2']").show();
        $(this).parent().parent().parent().find("span[class='xst3']").show();
        $(this).parent().parent().parent().find("span[class='xst4']").show();

        var tis = $(this);
        $.ajax({
            type: "post",
            url: "{:url('BusinessSettle/sales_update')}",
            data: {xs1:xs1,xs2:xs2,xs3: xs3,xs4: xs4,id:id}
        }).done(function (data) {
            if (data.code) {
                tankuang(300,data.msg);
                tis.parent().parent().parent().find("span[class='xst1']").show();
                tis.parent().parent().parent().find("span[class='xst2']").show();
                tis.parent().parent().parent().find("span[class='xst3']").show();
                tis.parent().parent().parent().find("span[class='xst4']").show();
                tis.parent().parent().parent().find("span[class='xst5']").show();

                tis.parent().parent().parent().find("input[name='xs1']").hide();
                tis.parent().parent().parent().find("input[name='xs2']").hide();
                tis.parent().parent().parent().find("input[name='xs3']").hide();
                tis.parent().parent().parent().find("input[name='xs4']").hide();
                tis.parent().parent().parent().find("input[name='xs5']").hide();

                tis.parent().parent().find("span[class='edit']").hide();
                tis.parent().parent().find("a[rel='edit_sales']").show();
            }
        });
        //取消表单
        $(this).parent().parent().parent().find("input[name='xs1']").hide();
        $(this).parent().parent().parent().find("input[name='xs2']").hide();
        $(this).parent().parent().parent().find("input[name='xs3']").hide();
        $(this).parent().parent().parent().find("input[name='xs4']").hide();

        $(this).parent().parent().parent().find("span[class='xst1']").show();
        $(this).parent().parent().parent().find("span[class='xst2']").show();
        $(this).parent().parent().parent().find("span[class='xst3']").show();
        $(this).parent().parent().parent().find("span[class='xst4']").show();

        $(this).parent().parent().find("span[class='edit']").hide();
        $(this).parent().parent().find("a[rel='edit_sales']").show();
    });
    //点击取消
    $("a[rel='cancel_sales']").click(function () {
        $(this).parent().parent().parent().find("input[name='xs1']").hide();
        $(this).parent().parent().parent().find("input[name='xs2']").hide();
        $(this).parent().parent().parent().find("input[name='xs3']").hide();
        $(this).parent().parent().parent().find("input[name='xs4']").hide();

        $(this).parent().parent().parent().find("span[class='xst1']").show();
        $(this).parent().parent().parent().find("span[class='xst2']").show();
        $(this).parent().parent().parent().find("span[class='xst3']").show();
        $(this).parent().parent().parent().find("span[class='xst4']").show();

        $(this).parent().parent().find("span[class='edit']").hide();
        $(this).parent().parent().find("a[rel='edit_sales']").show();
    });
    //点击删除
    $("a[rel='del_sales']").click(function () {
        if (!confirm("确定要删除吗？")) {
            return false;
        }
        var id = $(this).parent().parent().find("input[name='ids']").val();
        var tis = $(this);
        if(id!=''){
            $.ajax({
                type: 'post',
                data: {id: id},
                url: "{:url('BusinessSettle/sales_del')}",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if(data.code == 1){
                        tis.parent().parent().remove();
                    }
                }
            });
        }
    });


    //保存
    function doSave(){
        saveFlow("{:url('BusinessSettle/save')}", $('#tableForm').serialize());
    }

    //保存(翻译)
    function doSaveEng(){
        saveFlow("{:url('BusinessSettle/saveEng')}", $('#tableForm').serialize());
    }

    //确认
    $('#recheck').click(function(){
        var applicationid=$("#applicationid").val();
        var url="{:url('BusinessSettle/recheck')}";
        var data={"applicationid":applicationid};
        ajax_check_memo(url,data);
    });

    //确认(翻译)
    $('#recheckEng').click(function(){
        var applicationid=$("#applicationid").val();
        var url="{:url('BusinessSettle/recheckEng')}";
        var data={"applicationid":applicationid};
        ajax_check_memo(url,data);
    });

    //备注
    $('#save_memo').click(function(){
        var applicationid=$("#applicationid").val();
        var confirmMemo=$("#confirmMemo").val();
        var url="{:url('BusinessSettle/save_memo')}";
        var data={"applicationid":applicationid,"confirmMemo":confirmMemo};
        ajax_check_memo(url,data);
    });

    //备注(翻译)
    $('#save_memoEng').click(function(){
        var applicationid=$("#applicationid").val();
        var confirmMemoEng=$("#confirmMemoEng").val();
        var url="{:url('BusinessSettle/save_memoEng')}";
        var data={"applicationid":applicationid,"confirmMemoEng":confirmMemoEng};
        ajax_check_memo(url,data);
    });

</script>
{/block}

