{extend name='Layout/ins_page'/}
{block name="content"}
{:widget('PageHeader/simple',array('name'=>'调档明细项目','search'=>'N'))}
<div class="span12">
    <div class="widget-box">
        <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="{:url('DiaodangManage/detail_save')}" id="tableForm">
                <div class="tab-pane">
                    <button type="button" value="保存" id="save" onclick="doSave()"
                            class="btn btn-info btn-sm"
                            style="border:0 solid #fff "><span
                            class="glyphicon glyphicon-saved"></span> 保存
                    </button>
                    <!--表单数据-->
                    <div id="myTabContent" class="tab-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable"
                               aria-describedby="DataTables_Table_0_info">
                            <style type="text/css">
                                .table td {
                                    font-size: 13px;
                                    text-align: left;
                                }

                                .table td span {
                                    color: red;
                                }
                            </style>
                            <tbody>
                            <tr role="row" style="display: none;">
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1"
                                    aria-label="Role: activate to sort column ascending" style="width: 5%;">
                                    <label>ID:</label>
                                </td>
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="3"
                                    aria-label="Status: activate to sort column ascending" style="width: 35%;">
                                    <input type="text" name="id"  value="{$data['id']}">
                                </td>
                            </tr>
                            <tr role="row">
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1"
                                    aria-label="Role: activate to sort column ascending" style="width: 5%;">
                                    <label>渠道:</label>
                                </td>
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="3"
                                    aria-label="Status: activate to sort column ascending" style="width: 35%;">
                                    <select name="company" id="company" size="1" >
                                        <option value=""></option>
                                        {volist name=":model('common')->getChannel()" id="vo"}
                                        <option value="{$vo['code']}" {if condition="$data['company'] eq $vo['code']" }selected="selected"{/if}>{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </td>
                            </tr>
                            <tr role="row">
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1"
                                    aria-label="Role: activate to sort column ascending" style="width: 5%;">
                                    <label>调档内容:</label>
                                </td>
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="3"
                                    aria-label="Status: activate to sort column ascending" style="width: 35%;">
                                    <textarea name="memo" style="width:98%;overflow-y:auto;height:100px;">{$data['memo']}</textarea>
                                </td>
                            </tr>
                            <tr role="row">
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1"
                                    aria-label="Role: activate to sort column ascending" style="width: 15%;">
                                    <label>调档费用:</label>
                                </td>
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="3"
                                    aria-label="Status: activate to sort column ascending" style="width: 35%;">
                                    <input type="text" name="cost"  value="{$data['cost']}">元
                                </td>
                            </tr>
                            <tr role="row">
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1"
                                    aria-label="Role: activate to sort column ascending" style="width: 5%;">
                                    <label>调档时间:</label>
                                </td>
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="3"
                                    aria-label="Status: activate to sort column ascending" style="width: 35%;">
                                    <input type="text" name="date" id="date" value="{$data['date']}" placeholder="单击选择日期">
                                </td>
                            </tr>
                            <tr role="row">
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1"
                                    aria-label="Role: activate to sort column ascending" style="width: 5%;">
                                    <label>附件上传:</label>
                                </td>
                                <td role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="3"
                                    aria-label="Status: activate to sort column ascending" style="width: 35%;">
                                    <input type="file" class="Attaches1" name="Attaches" style="float: left;width:200px;">
                                    <button type="button" class="upload1 btn btn-success btn-sm">上传</button>
                                    <div style="clear: both"></div>
                                </td>
                            </tr>
                            <!--上传文件的显示列-->
                            <table class="wj1 la1">
                                <style>
                                    .la1{
                                        width:50%;
                                        border: 1px solid #ddd;

                                    }
                                    .la1 td{
                                        padding-left: 10px;
                                        border: 1px solid #ddd;
                                    }
                                </style>
                                <thead id="attcon">
                                {volist name="attachList" id="vo"}
                                <tr role="row">
                                    <td><a href="__ROOT__/{$vo.AttachUrl}" target="_blank">{$vo.AttachName}</a></td>
                                    <td>{$vo.CreatorName}</td>
                                    <td>{$vo.CreateDate}</td>
                                    <td>{if session('auth_id') eq $vo['Creator']}
                                        <a onclick="delFile('{$vo.ID}',this)" title="删除">删除</a>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                                </thead>
                            </table>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{:widget('PageHeader/load',array('name'=>lang('文件上传中。。。'),'search'=>'N'))}
{include file="Public:modal"/}
{/block}
{block name="js"}
<script type="text/javascript">
    $(function () {
        $("#sidebar,#top_menu,#breadcrumbs").remove();
        $('.gray-bg').attr("id", "");

        //调档日期
        jeDate({
            dateCell: "#date",
            format: "YYYY-MM-DD",
            isTime: true,
            zIndex: 3000
        });

        var type="{$type}";
        if(type=='look'){
            $('#save').hide();
        }
    });

    //保存
    function doSave() {
        saveFlow("{:url('DiaodangManage/detail_save')}", $('#tableForm').serialize());
        setTimeout('close1()',400);
        window.opener.location.href = window.opener.location.href;
    }

    //删除附件
    function delFile(file_id, ob) {
        if (!confirm("确定要删除吗？")) {
            return false;
        } else {
            var id = $("input[name='id']").val();
            $.ajax({
                url: "{:url('DiaodangManage/delFile_diaodang')}",
                type: "POST",
                data: {"id": id,"file_id":file_id},
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        $(ob).parents("td").parents("tr").remove();
                    }
                    alert(data.msg);
                },
                error: function () {
                    alert('删除失败！');
                }
            });
        }
    }

    //上传附件
    $('.upload1').click(function(){
        $("#searchModal").modal("show");
        var userID = "{$Think.session.auth_id}";
        var $input = $('.Attaches1');
        // 相当于： $input[0].files, $input.get(0).files
        var files = $input.prop('files');
        var data = new FormData();
        data.append('Attaches1', files[0]);
        var id = $("input[name='id']").val();
        data.append('id',id);
        $.ajax({
            url: "{:url('DiaodangManage/uploadFile_diaodang')}",
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
                console.log(data);
                $('#searchModal').modal('hide');
                if (data.code == 1) {
                    if (data.data.length > 0) {
                        $('#attcon').empty();
                        var html = "";
                        for (var i = 0; i < data.data.length; i++) {
                            html += "<tr role='row'><td><a href='__ROOT__/" + data['data'][i]['AttachUrl'] + "' target='_blank'>" + data['data'][i]['AttachName'] + "</a></td>" +
                                    "<td>" + data['data'][i]['CreatorName'] + "</td>" +
                                    "<td>" + data['data'][i]['CreateDate'] + "</td>";
                            if (userID == data['data'][i]['Creator']) {
                                html += "<td><a onclick='delFile(" + data['data'][i]['ID'] + ",this)' title='删除'>删除</a></td></tr>"
                            } else {
                                html += "<td></td></tr>"
                            }
                        }
                        $('#attcon').html(html);
                    }
                } else {
                    alert(data.msg);
                }
            }
        });

    });


</script>
{/block}