{extend name="layout/common_baogao2" /}
{block name="content"}
<div class="row" id="sortable-view">
    <div class="col-sm-12 ui-sortable" id="t1">
        <style>
            .tablehead {
                width:100%;
                left: 0;
                word-break: break-all;
                word-wrap: break-word;
                padding: 0px;
                margin: 0px;
            }
            .tablehead td {
                border: 1px solid #ddd;
                text-align:left;
                padding: 0px;
                margin: 0px;
                height: 20px;
            }
        </style>
        <div id="get_list">
            <div id="pageajax">
                <div class="tablehead">
                    <p style="font-size: 20px; text-align: left;"><b>开户行</b></p>
                    <form class="form-horizontal" method="post" action="{:url('BankDetail1/save')}" id="tableForm">
                        <input type="hidden" name="id" id="applicationid" value="{$applicationid}">
                        <input type="hidden"  name="activeid" id="activeid" value="{$activeid}">
                        <br/>
                        <table class="table table-striped">
                            <style type="text/css">
                                .table td {
                                    font-size: 14px;
                                }
                            </style>
                            <thead>
                            <tr>
                                <td style="width: 15%;">开户银行：</td>
                                <td ><span class="foreign" style="display: none;">(中文)</span><input type="text" name="bank" value="{$data['bank']}" size="100px;"></td>
                            </tr>
                            <tr class="foreign" style="display: none;">
                                <td style="width: 15%;"></td>
                                <td >({$language})<input type="text" name="bankEng" value="{$data['bankEng']}" size="100px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 15%;">账号：</td>
                                <td ><span class="foreign" style="display: none;">(中文)</span><input type="text" name="account" value="{$data['account']}"  size="100px;"></td>
                            </tr>
                            <tr class="foreign" style="display: none;">
                                <td style="width: 15%;"></td>
                                <td >({$language})<input type="text" name="accountEng" value="{$data['accountEng']}"  size="100px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 15%;">币种：</td>
                                <td ><span class="foreign" style="display: none;">(中文)</span><input type="text" name="currency" value="{$data['currency']}" size="100px;"></td>
                            </tr>
                            <tr class="foreign" style="display: none;">
                                <td style="width: 15%;"></td>
                                <td >({$language})<input type="text" name="currencyEng" value="{$data['currencyEng']}" size="100px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 15%;">地址：</td>
                                <td ><span class="foreign" style="display: none;">(中文)</span><input type="text" name="address" value="{$data['address']}"  size="100px;"></td>
                            </tr>
                            <tr class="foreign" style="display: none;">
                                <td style="width: 15%;"></td>
                                <td >({$language})<input type="text" name="addressEng" value="{$data['addressEng']}"  size="100px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 15%;">电话：</td>
                                <td ><span class="foreign" style="display: none;">(中文)</span><input type="text" name="tel" value="{$data['tel']}"  size="100px;"></td>
                            </tr>
                            <tr class="foreign" style="display: none;">
                                <td style="width: 15%;"></td>
                                <td >({$language})<input type="text" name="telEng" value="{$data['telEng']}"  size="100px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 15%;">银行评价：</td>
                                <td ><span class="foreign" style="display: none;">(中文)</span><input type="text" name="evaluate" value="{$data['evaluate']}"  size="100px;"></td>
                            </tr>
                            <tr class="foreign" style="display: none;">
                                <td style="width: 15%;"></td>
                                <td >({$language})<input type="text" name="evaluateEng" value="{$data['evaluateEng']}"  size="100px;"></td>
                            </tr>
                            </thead>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <!--按钮与报告备注-->
        {include file="public:baogaoMemo"/}
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    //保存
    function doSave(){
        saveFlow("{:url('BankDetail1/save')}", $('#tableForm').serialize());
    }

    //保存(翻译)
    function doSaveEng(){
        saveFlow("{:url('BankDetail1/saveEng')}", $('#tableForm').serialize());
    }

    //确认
    $('#recheck').click(function(){
        var applicationid=$("#applicationid").val();
        var data={"applicationid":applicationid};
        var url="{:url('BankDetail1/recheck')}";
        ajax_check_memo(url,data);
    });

    //确认(翻译)
    $('#recheckEng').click(function(){
        var applicationid=$("#applicationid").val();
        var data={"applicationid":applicationid};
        var url="{:url('BankDetail1/recheckEng')}";
        ajax_check_memo(url,data);
    });

    //备注
    $('#save_memo').click(function(){
        var applicationid=$("#applicationid").val();
        var confirmMemo=$("#confirmMemo").val();
        var data= {"applicationid":applicationid,"confirmMemo":confirmMemo};
        var url= "{:url('BankDetail1/save_memo')}";
         ajax_check_memo(url,data);
    });

    //备注(翻译)
    $('#save_memoEng').click(function(){
        var applicationid=$("#applicationid").val();
        var confirmMemoEng=$("#confirmMemoEng").val();
        var data= {"applicationid":applicationid,"confirmMemoEng":confirmMemoEng};
        var url= "{:url('BankDetail1/save_memoEng')}";
        ajax_check_memo(url,data);
    });

</script>
{/block}

