<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>企业信用管理系统</title>
		<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/toastr/toastr.min.css" rel="stylesheet">

		<link href="__PUBLIC__/css/style.css" rel="stylesheet">
		<link href="__PUBLIC__/css/xiaowei.css" rel="stylesheet">
	</head>
	<include file="Layout:page_script"/>
	<body class="white-bg">
		{block name="content"}{/block}
		<!-- Mainly scripts -->
		<script src="__PUBLIC__/js/jquery-2.1.1.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
		<script src="__PUBLIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<!-- Custom and plugin javascript -->
		<script src="__PUBLIC__/js/inspinia.js"></script>
		<!--<script src="__PUBLIC__/js/common.js"></script>-->
		<include file="Layout:ins_plugin_js"/>
		{block name="js"}{/block}
	</body>
</html>
